.modals{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 400px !important;
}

.gallery-sections{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gallery-titles{
    text-align: center !important;
    font-size: 32px !important;
    font-weight: bold !important;
}